# Ignore rag-api completely
/rag-api

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/

# Node.js frontend
rag-frontend/node_modules/
rag-frontend/dist/

# Env files
*.env
